body{
   font-family: sans-serif;
}
*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}
.container{
    max-width: 1460px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}
.top{
    padding: 30px 0;
    background: url(../images/banner.png) center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
}
.top-row{
  display: flex;   
}
.menu{
    width: 80%;
}
.menu ul{
    height: 100%;
   display: flex;
   align-items: center;
   grid-gap: 10px;
   justify-content: flex-end;
}
.menu ul a{
    color: #3d2514;
    text-transform: uppercase;
    font-weight: 600;
}
.express{
    margin-bottom: 15px;
}

.main-menu ul{
   grid-gap: 40px;
}
.main-menu i{
    display: none;
}
.menu-icon i{
     display: none;      
}
.banner-row{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
}
.banner-content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.bur-week{
    width: 90%;
    line-height: 77px;
    width: 100%;
}
.bur-week p{
    text-transform: uppercase;
    font-size: 12px;
    line-height: 35px;
    color: #3d2514;
    border: 2px dotted #3d2514;
    display: inline-block;
    padding: 0 25px;
    box-sizing: border-box;
}
.bur-week h1{
    font-size: 100px;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 2px 2px #fff;
    color: #3d2514;
}
.bur-week h4{
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 2px 2px #fff;
    color: #3d2514;
}
.banner-image img{
    width: 100%;
}
.logo svg{
    width: 300px;
}
.popular{
    padding: 60px 0;
}
.pop-row{
    display: grid;
    grid-template-columns:repeat(2,minmax(45%,1fr));
    grid-gap: 15px;
}
.single-bur img{
    width: 100%;
}
.double-burger img{
    width: 100%;
}
.double-burger img:last-child {
    margin-top: 50px;
}
.always-row{
    display: flex;
    justify-content: center;
    font-size: 10px;
}
.always-content{
    width: 75%;
    text-align: center;
}
.always-content a{
    font-size: 1.3em;
    padding: 10px 25px;
    background-color: #ffc045;
    text-transform: uppercase;
    color: #3d2514;
    font-weight: 600;
}
.always-content h3{
    font-size: 3em;
    color: #3d2514;
    margin: 30px 0 20px 0;
    text-transform: uppercase;
}
.always-content p{
    font-size: 1.8em;
    color: #3d2514;
}
.services{
    padding: 60px 0;
}
.services-row{
    display: grid;
    grid-template-columns:repeat(3,minmax(32%,1fr));
    justify-content: center;
}
.order-now{
    text-align: center;
}
.order-now img{
    width: 70%;
}
.services-content{
     text-align: center;
     margin-top: 20px;
}
.services-content p{
    margin: 10px 0 20px 0;
}
.services-content a{
    padding: 10px 20px;
    background:red;
    color:#fff;
    font-weight: 600;
}
.upcoming-row{
    display: grid;
    grid-template-columns: repeat(2,minmax(50%,1fr));
    box-shadow: -1px -2px 7px #888888;
}
.discover{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.discover-content{
   width: 75%;
}
.discover-content h3,h2{
   text-transform: uppercase;
   font-weight: 900;
   color: #3d2514
}
.discover-content p{
   font-size: 18px;
   margin-top: 25px;
 }
 .discover img{
     width: 100%;;
 }
 .book{
     padding: 60px 0;
 }
 .book-row{
     text-align: center;
 }
 .book-row h3,h2{
    text-transform: uppercase;
    font-weight: 900;
    color: #3d2514
 }

 .formm{
     /* width: 70%;
     margin: auto; */
     text-align: center;
    }
    .formm form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     grid-gap: 20px;
     margin-top: 40px;
     width: 100%;
    }
    .iput input{
        margin: 5px;
        padding: 10px 10px;
        outline: none;
        width: 300px;
        /* width: 100%; */
 }
 .footer-row{
     display: grid;
     grid-template-columns: repeat(2,minmax(49%,49%));
     background: url(../images/footer.png);
     background-repeat: no-repeat;
     background-size: cover;
     padding: 30px 20px;
     box-sizing: border-box;
 }
 .footer-logo img{
     width: 250px;
 }
.footer-logo p{
   color: #fff;
   margin-top: 25px;
   font-size: 13px;
   width: 60%;
   line-height: 20px;
   text-align: center;
}
.address{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.address-content ul li{
    
    margin-top: 15px;
}
.address-content ul li a{
    color:#fff;
}
.footer{
    padding: 60px 0;
}